body{background: rgb(202, 200, 200);

}

p{color: rgb(255, 83, 15);

}

h2{color: rgb(251, 255, 9);
}

h4{color: rgb(116, 87, 223);
}

button{color: rgb(249, 250, 250);
}

button{background: blueviolet;
}